#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #FCF8E8;
}

.pokemon{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 2px;
  padding: 0 50px;
}
.col a{
  text-decoration: none;
  color: black;
}
.col a h4{
  margin: 0;
}
.detail{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 0px;
  background-color: #F9F9C5;
}
.col h4{
  margin: 0;
  /* padding-top: 30px; */
}

.button h3{
  background-color: black;
  width: 200px;
  color: aliceblue;
  padding: 10px 15px;
}